# Base de données des comptes utilisateurs
POSTGRES_DB=iot_plant
POSTGRES_USER=iot_user
POSTGRES_PASSWORD=iot_password

# Base de données des mesures capteurs
INFLUX_USER=admin
INFLUX_PASSWORD=adminpassword
INFLUX_ORG=iot_org
INFLUX_BUCKET=plant_data
INFLUX_TOKEN=mytoken123456

# Connexion InfluxDB utilisée par l'application web
INFLUX_URL=http://influxdb:8086

# Compte administrateur Grafana
GRAFANA_USER=admin
GRAFANA_PASSWORD=admin123456

# Sécurité API Web
JWT_SECRET=change-moi
ADMIN_SECRET_TOKEN=change-moi-aussi
